<div>
  <form action="/tasks" method="post">
    <div>
      <div>
        <input type="text" name="title" placeholder="タイトル"><br>
        <input type="text" name="due_date" placeholder="締切"><br>
        リスト:
        <select name="list">
          <% List.all.each do |list| %>
              <option value="<%= list.id %>"><%=list.name%></option>
          <% end %>
        </select>
      </div>
      <div>
        <input type="submit" value="登録">
      </div>
    </div>
  </form>
</div>